<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogFile="${basedir}/logs/nlog.log">
  <!-- configuration goes here -->
  <targets>
    <variable name="logDirectory" value="${basedir}/logs"/>

    <target name="file" xsi:type="File" fileName="${logDirectory}/wop.log" layout="${longdate} ${callsite} ${level} ${message}"/>
    <target name="console" xsi:type="Console" layout="${longdate} : ${callsite} [${level}] => ${message}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="console,file"/>
  </rules>
</nlog>
